{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <title>AutoMart</title>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'estilos.css' %}" />
  </head>
  <body>
    <h1>AutoMart</h1>
    {% for auto in autos %}
      <p>{{ auto.nombre }}</p>
      <p>{{ auto.modelo }}</p>
      {% if auto.valor > 0 %}
        <p>{{ auto.valor }}</p>
      {% else %}
        <p>De coleccion</p>
      {% endif %}
      <hr />
    {% endfor %}
  </body>
</html>
