{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}


<div class="album py-5 bg-light">
  <div class="container">
      <h1>Autos de {{ username }}</h1>
    <div class="row">
      {% for auto in autos %}
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <a href="/{{auto.id}}/">
            <img src="{{ auto.image.url }}" class="auto-picture">
          </a>
          <div class="card-body">
            <h3>{{ auto }}</h3>
            <p>Modelo: <strong>{{ auto.modelo }}</strong></p>
            {% if auto.valor > 0 %}
            <p>Precio: <strong>${{ auto.valor }}</strong></p>
            {% else %}
            <p>De coleccion</p>
            {% endif %}
            <a href="/user/{{ auto.user.username }}">de: {{ auto.user.username }}</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <form enctype="multipart/form-data" action='post_url/' method='POST'>
        {% csrf_token %}
        {{ form.as_p }}
        <input type='submit' value='Guardar' />
      </form>
    </div>
  </div>
</div>
{% endblock %}